<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Avenue Requests</h1>

    <form action="" method="post">
    <div>
        <label for="name">Name</label>

        <input type="text" name="name" id="name">

    </div>

    <div>
        <label for="surname">SurName</label>

        <input type="text" name="surname" id="surname">

    </div>

    <div>
        <label for="phone">Phone</label>

        <input type="number" name="phone" id="phone">

    </div>


    <div>
<button type="submit">Submit</button>

    </div>

    </form>

    
</body>
</html>